body {
  background-image: url("https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
